NODE_ENV="dev" 
PORT=3000
SALT_ROUNDS=11

DATABASE_URL="postgres://[user]:[password]@[neon_hostname]/[db_name]?sslmode=require"

DATABASE_URL_POOLED="postgres://[user]:[password]@[neon_hostname]-pooler.[region].aws.neon.tech/[db_name]?sslmode=require"
